//  VARIABLES
$primary: #19063d;
//  VARIABLES

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $primary;
  padding: 0.8rem 1rem;
  max-width: 120rem;
  margin-inline: auto;
  margin-bottom: 3rem;
  transition: all 0.2s;
  h1 {
    font-weight: 800;
    font-size: 2rem;
    color: $primary;
    @media (min-width: 600px) {
      font-size: 3.5rem;
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    @media (min-width: 600px) {
      gap: 2rem;
    }
    li * {
      font-size: 1.5rem;
      font-weight: 600;
      color: $primary;
      cursor: pointer;
      @media (min-width: 600px) {
        font-size: 2rem;
      }
    }
  }
}

nav.active {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 2px 2px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.scroll-top {
  position: fixed;
  right: -5rem;
  bottom: 3rem;
  width: 40px;
  height: 40px;
  background-color: #19063d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.scroll-top.show {
  right: 1.8rem;
}

.top-icon {
  font-size: 3rem;
  color: #fff;
}
